certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
Click==7.0
cryptography==2.8
docx2pdf==0.1.7
docxtpl==0.11.2
Flask==1.1.1
Flask-Cors==3.0.8
Flask-JWT-Extended==3.25.0
Flask-PyMongo==2.3.0
googlefinance==0.7
gunicorn==20.0.4
idna==2.9
itsdangerous==1.1.0
Jinja2==2.10.3
langdetect==1.0.7
lxml==4.6.1
MarkupSafe==1.1.1
pdfminer3==2018.12.3.0
pycparser==2.20
pycryptodome==3.8.2
PyJWT==1.7.1
pymongo==3.10.0
PyMuPDF==1.18.4
pyOpenSSL==19.1.0
PyPDF2==1.26.0
PySocks==1.7.1
python-docx==0.8.10
requests==2.23.0
six==1.14.0
sortedcontainers==2.1.0
tika==1.24
tqdm==4.51.0
urllib3==1.25.8
Werkzeug==0.16.0
